# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
*.sqlite3
db.sqlite3

# Django
*.log
local_settings.py
db.sqlite3-journal
media

# React
node_modules/
/build
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE files
.idea/
.vscode/
*.swp
*.swo

# SQLite database files
*.sqlite3
*.sqlite3-journal

# Migration files - uncomment if you want to ignore them
# */migrations/*.py
# !*/migrations/__init__.py

# IDE specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Users app migrations
users/migrations/*
!users/migrations/__init__.py
backend/sample_data.json
backend/load_sample_data_simple.py
backend/load_sample_data.py
backend/create_users_app.py
backend\API_ROUTES.md
backend/create_migrations.py
orders_project_setup.md
